@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

* {
    background-color: #222226;
    color: white;
    font-family: 'Caprasimo', cursive;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #5c2a9d;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #b5076b;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    transition: 200ms;
}

nav img {
    border-radius: 60px;
}

.privacy {
    font-size: small;
    color: white;
    padding-left: 10px;
    line-height: 3;
    line-break: 2px;
}